/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */

body,
#logo .site-title, #logo .site-descripxion,
h1, h2, h3, h4, h5, h6
#footer #copyright span,
.post .title,
.post-meta,
.entry, .entry p,
.entry .wp-capxion-text,
#post-author h4 span,
.widget h3,
#tabs ul.wooTabs li a,
#tabs .inside li a,
#tabs .inside li span.meta,
#comments .date, #comments .edit, #comments .perma,
#comments .reply a,
#commentform input.txt, #commentform textarea,
#slide-nav li a span.info .title,
#navigation,
h3.archive_year {
	font-family: Arial;
}

body {
	background-color: #F7F7F7 !important;
}

a {
	color: #346CBE;
}


/*
 * Header
 */
#header {
	border-bottom-width: 3px;
	border-bottom-color: #656364 !important;
}

#logo {
	
}

/*
 * Navigation
 */
.nav a {
	color: #949494;
	text-transform: uppercase;
	font-size: 14px;
}

.nav a:hover,
.nav li.current_page_item a,
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-menu-item a,
.nav li.sfHover {
	color: #346CBE;
	background-color: #D2E2F8;
}


/*
 * Slider
 */
#slides_container .slide h2 {
	font-size: 26px;
}
#slides_container .slide .entry p {
	font-size: 14px;
	font-weight: bold;
}

#slide-nav .title {
	font-size: 17px;
	font-weight: bold;
}


/*
 * Content
 */
#main .block h2.title {
	font-size: 18px;
	font-weight: bold;
}
.sub-featured .entry {
	font-size: 14px;
	line-height: 18px;
}

#latest {
	margin-top: 32px;
}

#latest .title {
	font-size: 24px;
    font-weight: bold;
}

.post-meta {
	font-size: 14px;
	margin-bottom: 16px;
}
.the-category a, .the-category a:hover {
	color: #346CBE;
}

.entry, .entry p {
	font-size: 14px;
	line-height: 18px;
}

.post-more .read-more a.button {
	font-size: 14px;
	font-weight: bold;
}

.frontpage-ads .widget {
	border-top-width: 0;
	border-bottom-width: 0;
    padding-top: 0;
	margin-bottom: 20px;
}

.single .post {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}


/*
 * Sidebar
 */
#sidebar {
	background-color: #FFF !important;
	border: 1px solid #DBDBDB !important;
	box-shadow: none !important;
}

.widget {
	border-top-color: #E4E4E4;
	border-bottom-width: 0;
}

.searchform input.s {
	font-size: 13px;
}

.widget_woo_tabs {
	padding: 0 !important;
}

.widget_woo_tabs .inside {
	margin: 0 1em;
}

ul.wooTabs {
	background-color: #EEECED;
}

#tabs ul.wooTabs li {
	padding: 1em !important;
}

#tabs ul.wooTabs li a {
	font-size: 14px;
	font-weight: bold;
}

#tabs ul.wooTabs li a.selected,
#tabs ul.wooTabs li a:hover {
	/*background-color: #C3DAFA;
	border-color: #6A98D5 #326CAE #326CAE #6A98D5;
	color: #346EC3;*/
	background-color: inherit !important;
	border-width: 0;
	color: #346CBE;
}

#tabs .inside li a {
	font-size: 14px;
	font-weight: normal;
}

#tabs .inside li a strong {
	color: #5F5F5F;
	font-weight: normal;
	font-style: italic;
}

#tabs .inside li span.meta {
	font-size: 12px !important;
	text-transform: none;
}

/*
 * Sidebar special
 * - #text-19 - Online Broker
 * - #text-22 - Börsenlexikon
 * - #text-21 - Autor
 * - #text-20 - Twitter
 */
#text-19,
#text-22,
#text-21,
#text-20 {
    padding: 0;
    font-size: 14px;
}
#text-19 h3,
#text-22 h3,
#text-21 h3,
#text-20 h3 {
	background-color: #EEECED;
	color: #346CBE;
	font-size: 14px;
	font-weight: bold;
	padding: 1em;
	text-transform: uppercase;
}

#text-19 table,
#text-22 table {
	margin-left: 1em;
	margin-bottom: 0.5em;
	width: 280px;
}
#text-19 table tr,
#text-22 table tr {
	border-bottom: 1px solid #DBDBDB;
}
#text-19 table td,
#text-22 table td {
	padding: 4px 0;
}
.sidebar-broker-table-last {
	border-bottom-width: 0 !important;
}

#text-21 .textwidget,
#text-20 .textwidget {
	margin: 0 1em 1em 1em;
}
#text-21 .textwidget img {
	float: left;
	margin-right: 1em;
	border: 1px solid #CCC;
	padding: 2px;
}
#text-21 .textwidget strong {
	display: block;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

#text-20 .hl_twitter_shortcode_tweet {
	border-bottom: 1px solid #CCC;
	margin-bottom: 0.5em !important;
	padding-bottom: 0.5em;
}

/* Sidebar icons */
#woo_tabs-2 #tabs ul.wooTabs li.comments a {
	background-image: url("images/broker/Sidebar-icon-Kommentare.png");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 31px;
}
#text-20 h3 {
	background-image: url("images/broker/Sidebar-icon-Twitter.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 48px;
}
#text-22 h3 {
	background-image: url("images/broker/Sidebar-icon-Boersenlexikon.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	padding-left: 48px;
}



/*
 * wp-pagenavi
 */
.wp-pagenavi span.pages {
	padding: 3px 7px !important;
	border: 1px solid #BBB !important;
	color: #CCC !important;
}

.wp-pagenavi .current, .wp-pagenavi .on, .wp-pagenavi a:hover {
	background-color: #CCC !important;
	color: #FFF !important;
}

.wp-pagenavi a:link, .wp-pagenavi a:visited {
	background-color: transparent !important;
}


/*
 * Footer
 */
#footer-out {
	background-color: #F7F7F7;
    border-top: 2px solid #939393;
    margin-bottom: 32px;
}

#footer p, #footer-widgets {
	font-size: 13px;
	color: #707070;
}

#footer-widgets .block h3 {
	font-size: 13px;
	color: #6F6F6F;
}

#footer-widgets .block a {
	color: #336BBB;
}

#footer-widgets .block li {
	border-bottom-width: 0px;
	margin-bottom: 0;
    padding-bottom: 4px;
}

#footer {
	border-top-width: 0;
}

#footer .dot {
	margin: 0 10px 0 10px !important;
	color: #666 !important;
    font-size: 105% !important;
}

#footer a {
	color: #707070;
}

.rssicon {
	background-image: url("images/ico-rss.png");
	background-position: left 50px center;
	background-repeat: no-repeat;
	padding-right: 22px;
}



/*
 * Broker Vergleich
 */
.broker-cmp-top-wrapper {
    height: 341px;
    width: 960px;
    margin-bottom: 52px;
}

.broker-cmp-top-content {
	float: left;
	margin-left: 490px;
	margin-top: 60px;
}

.broker-cmp-top-heading,
.broker-cmp-top-subheading,
.broker-cmp-top-text {
	
}

.broker-cmp-top-heading {
	color: #D47235;
	font-size: 25px;
	margin-bottom: 20px;
	line-height: 1.4em;
}

.broker-cmp-top-subheading {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.broker-cmp-top-text {
	font-size: 14px;
}

.broker-cmp-table {
    width: 100%;
    margin-bottom: 65px;
}

.broker-cmp-table th,
.broker-cmp-table td {
	font-size: 15px;
}

.broker-cmp-table th {
	padding: 1em 0;
}

.broker-cmp-table td {
	border-top: 1px solid #CFCFCF;
	vertical-align: middle;
}

th.aktionspreis {
	color: #346EC3;
}

th.aktionspreis,
td.aktionspreis {
	border: 1px solid #CFCFCF;
	background-color: #EBF0F7;
}


sup {
    bottom: 1ex;
    font-size: 10px;
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}



th.ordergebuehr,
td.ordergebuehr {
	background-color: #EEE;
}

.broker-cmp-post,
.broker-detail-post {
	border-bottom-width: 0 !important;
}

.broker-cmp-entry h2 {
	color: #346EC3;
	font-size: 18px;
	font-weight: bold;
}
.broker-cmp-entry h2.grey {
	color: #545454;
}



/*
 * Broker Depot und Tagesgeld
 */
.broker-depot-wrapper {
	background-image: url(images/broker/broker-depot-top.jpg) !important;
	margin-bottom: 40px;
}

.broker-depot-table th {
    padding: 0 !important;
    vertical-align: middle !important;
}

.broker-depot-table th.first,
.broker-depot-table td {
	padding: 1em 1em 1em 1.5em !important;
}

.broker-depot-table td.highlight {
	background-color: #EEE;
}

.broker-depot-table th,
.broker-depot-table td {
	border-left: 1px solid #CCC;
	border-top-width: 0 !important;
	text-align: left;
}

.broker-depot-table th.first,
.broker-depot-table td.first {
	border-left-width: 0;
	font-weight: bold;
}

.broker-depot-image {
	width: 150px;
}

.broker-depot-table td.zumbroker {
	padding: 0 !important;
	text-align: center;
}

.broker-depot-table td.broker-depot-table-last {
	border-top-width: 3px !important;
}



/*
 * Fremdwährungskonten
 */
.broker-fremd-wrapper {
	background-image: url(images/broker/broker-fremd-top.jpg) !important;
	margin-bottom: 40px;
}

/*.broker-fremd-table th.first,*/
.broker-fremd-table td.first {
	font-weight: normal !important;
}



/*
 * Broker Detail
 */
.broker-detail-top-wrapper {
	background-image: url(images/broker/broker-detail-top.jpg);
    height: 182px;
    width: 960px;
    margin-bottom: 74px;
}

.broker-detail-top-content-img {
	float: left;
	/* Sum of width and padding-left must be 360px */
}

.broker-detail-top-content {
	float: right;
}

.broker-detail-top-heading {
	color: #346EC3;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	line-height: 1.4em;
}

p.broker-detail-top-subheading {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}

p.broker-detail-top-text {
	color: #888;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	margin-top: 1em;
}

/*.broker-detail-top-wrapper img {
	margin-left: 40px;
	margin-top: 40px;
}*/

.broker-detail .entry img {
	padding: 5px;
	border-width: 0;
	background-color: inherit;
}

.broker-detail .entry img.zumbroker {
	padding: 0;
}

.broker-detail-table {
	text-align: center;
}

.broker-detail-table th,
.broker-detail-table td {
	padding: 1em !important;
	/*border-left-width: 0 !important;
	border-right-width: 0 !important;*/
}

.broker-detail-table th {
	background-color: inherit !important;
}

.broker-detail-table th.highlight,
.broker-detail-table td.highlight {
	background-color: #EEE !important;
}

.broker-detail-table .first {
	font-weight: bold;
	text-align: left;
}

.broker-detail-table strong {
	font-size: 16px;
}

td.image-special {
	padding: 0 1em 0 1em !important;
}

.broker-detail-table img {
	padding: 0 !important;
	vertical-align: middle;
}

.broker-detail-news,
.broker-detail-news-ad,
.broker-detail-gebuehren,
.broker-detail-trading,
.broker-detail-video-div,
.broker-detail-twitter-div {
	float: left;
	margin-bottom: 4%;
	margin-right: 4%;
	position: relative;
}

.broker-detail-news {  }
.broker-detail-gebuehren {}
.broker-detail-trading {  }
.broker-detail-video-div {  }
.broker-detail-twitter-div { margin-right: 0; }

.broker-detail-recent-news {
	border: 1px solid #CCC;
	padding: 1em 1em 0 2em;
	height: 250px;
}

.broker-detail-recent-news ul {
	padding-left: 14px;
}
.broker-detail-recent-news ul li {
	margin-bottom: 0.6em;
}

.percent-highlight {
	color: #D47235;
	font-size: larger;
}

.broker-detail-video-wrapper,
.broker-detail-twitter {
	border: 1px solid #E4E4E4;
	padding: 1em;
}
.broker-detail-twitter {
    min-height: 315px;
}
.broker-detail-video-wrapper {
	min-height: 315px;
	background-color: #F4F4F4;
}
.broker-detail-video-wrapper p {
	font-weight: bold;
	margin-top: 1em;
	padding-left: 1em;
}
.broker-detail-video {
	width: 100%;
	text-align: center;
}

.broker-detail-twitter img,
.broker-detail-twitter h2 {
	float: left;
}
.broker-detail-twitter h2 {
	color: #000;
	margin-left: 10px;
	margin-top: 8px;
	font-weight: normal;
	text-transform: uppercase;
}



/*
 * Artikelseite
 */
.wp-table-reloaded {
	font-size: 12px !important;
}

.wp-table-reloaded th {
	background-color: #FFF !important;
}
.wp-table-reloaded thead th {
	padding: 10px 0 10px 10px !important;
}

.wp-table-reloaded .even td {
	background-color: #EFEDEE !important;
}
.wp-table-reloaded .odd td {
	background-color: #FFF !important;
}

.wp-table-reloaded img {
	background-color: #FFF;
	border-width: 0;
}

.wp-table-reloaded ul {
	margin-bottom: 0.5em;
}

#post-author {
	background-color: #F3F3F3 !important;
	background-image: none !important;
	border-color: #CACACA !important;
	border-width: 1px !important;
	font-size: 14px !important;
}

#post-author h4 {
	font-size: 14px !important;
	text-transform: uppercase;
}
#post-author h4 span {
	font-size: 14px !important;
	text-transform: none !important;
}

.profile-link {
	display: none;
}

#connect {
	background-color: #FFF !important;
	background-image: none !important;
	border-color: #CACACA !important;
	border-width: 1px !important;
	font-size: 14px !important;
}
#connect .title {
	font-size: 20px !important;
	margin-bottom: 20px !important;
}
#connect ul {
	list-style-type: disc;
	margin-left: 1em;
}
#connect ul li {
	margin-bottom: 4px;
}
#connect .related-posts {
	
}

#follow_articles,
.single #breadcrumb {
	background-color: #F3F3F3;
	border: 1px solid #CACACA;
	font-size: 14px;
	margin-bottom: 1em;
	padding: 1em;
}

#share_articles {
	margin-bottom: 2em;
}
#share_articles,
#follow_articles {
	padding-top: 0;
}
#share_articles img,
#follow_articles img {
	position: relative;
	top: 8px;
}

#respond {
	border: 1px solid #CACACA;
	padding: 2em;
}

#comments h3,
#respond h3 {
	font-size: 20px;
	font-weight: normal;
}

#commentform label,
#respond #commentform #submit {
	font-size: 14px !important;
}



/*
 * Hover Box
 * http://stackoverflow.com/questions/10243440/how-to-creat-a-box-when-mouse-over-text-in-pure-css
 */
span.info_box {
    /*margin:100px;
    float:left;*/
    position:relative;
    cursor:pointer;
    color: #346CBE;
}
span.info_box span {
    background:#F8F8F8;
    border: 2px solid #DFDFDF;
    color: #717171;
    font-size: 12px;
    /*height: 30px;*/
    /*letter-spacing: 1px;*/
    /*line-height: 30px;*/
    position: absolute; /*relative;*/
    /*text-align: center;*/
    /*text-transform: uppercase;*/
    top: -60px;
    left: -250px; /*-50px;*/
    display:none;
    /*padding:0 20px;*/
}
span.info_box:hover span {
    display:block;
}
/*span.info_box span:after {
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}*/



/*
 * OpenX Widgets
 */
.frontpage-ads #aswift_0_anchor,
.frontpage-ads #aswift_1_anchor {
	margin-left: 20px !important;
}
#sidebar .widget_openxwpwidget {
	padding: 4px;
}

