#wrapper{
	overflow-x: hidden;
}
.nav{
	display: inline-block;
	max-width: 100%
}

#slides_container {
	padding-left: 0;
	padding-right: 0;
	max-height: 290px;
}
#slide-nav{
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 32%;
	border-radius: 0
}
.slides-container{
	padding-left: 0;
	padding-right: 0;
}
.img-responsive{
	width: 100%
}
.broker-cmp-entry > div > img{
	width: 100%;
	max-width: 100%;
}
.featured-static{
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
}
.featured-static .ccaption{
	position: absolute;
	background: rgba(0,0,0,.4);
	color: #fff;
	text-shadow: none;
	width: 100%;
	padding: 1.25em 1.25em;
	left: 0;
	bottom: 0
}
.featured-static .ccaption h2{
	font-size: 1.625em;
	line-height: 1.125em;
	font-weight: bold;
	color: #fff;
	margin-bottom: 10px;
}
.featured-static .ccaption h2 a{
	text-shadow: #000 0 0 2px;
	color: #fff;
}
.featured-static .ccaption p{
	margin-bottom: 0;
	font-size: 0.875em;
	line-height: 1.125em;
	word-break: break-all;
}
#slides_container .caption{
	width: 100%;
}
#slides_container .slide .entry p{
	word-break: break-all;
}
img.thumbnail{
	border-radius: 0
}
#content{
	display: block;
}
.sub-featured-ct{
	padding-left: 15px;
	padding-right: 15px;
}
#sidebar.col-right{
	padding-left: 0;
	padding-right: 0;
}
.wp-pagenavi a:link, .wp-pagenavi a:visited{
	display: inline-block !important;
}
#footer ul{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}
#footer-out{
	margin-top: 25px;
	margin-bottom: 0 !important;
	padding-bottom: 32px;
}
#logo{
	padding: 0;
	margin: 0;
}
#logo img{
	display: block;
	height: auto;
}
#main-sidebar-container {
	display: block;
}
.fullwidth{
	width: 100%
}
.broker-cmp-top-left{
	padding-left: 0;
	padding-right: 0;
}
.broker-cmp-top-right{
	background-image: url(../images/broker/broker-vergleich-top.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top center;
	padding-left: 0;
	padding-right: 0;
	min-height: 341px;
}
.broker-fremd-top-right{
	background-image: url(../images/broker/broker-fremd-top.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top center;
	padding-left: 0;
	padding-right: 0;
	min-height: 341px;
}
.broker-depot-top-right{
	background-image: url(../images/broker/broker-depot-top.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top center;
	padding-left: 0;
	padding-right: 0;
	min-height: 341px;
}
.broker-med .broker-left{
	padding-left: 0;
	padding-right: 0
}
.broker-med-fremd .broker-left{
	padding-right: 15px;
}
.broker-med .broker-right{
	background-image: url(../images/broker/broker-right.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:top center;
	padding-left: 0;
	padding-right: 0;
}
.broker-med .broker-right .ct{
	padding: 3.125em;
}
.broker-cmp-top-right .left,
.broker-cmp-top-right .right{
	padding-left: 0;
	padding-right: 0;
}
.broker-large .ct{
	padding: 65px 50px 50px 90px;
}

#breadcrumb{
	margin-top: 30px;
}
#breadcrumb .breadcrumb{
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
}
#commentform textarea{
	width: 100% !important
}
.navbar-brand{
	height: auto;
}
.navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}

.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
.nav > li > a:focus, 
.nav > li > a:hover{
	background-color: none;
}
.nav > li:focus, 
.nav > li:hover{
	background-color: #eee;
}

.nav > li{
	border-top: 1px solid #D6D7D7;
}
.nav a{
	border: none;
}
.nav .open{
	background: #eee
}
.navbar-nav .open .dropdown-menu{
	padding-top: 0;
	padding-bottom: 0;
}
.navbar-nav .open .dropdown-menu .dropdown-menu li{
	padding-left: 15px;
}
.nav li ul li{
	background-color: #fff
}

.nav li ul li:hover{
	background-color: #F6F6F6 !important
}
.nav li.open ul li:hover{
	background-color: #eee !important
}
.nav li.open ul li:hover{

}
.navbar-toggle{
	font-size: 14px;
	font-weight: 14px;
}
.navbar-toggle .fa-caret-down{
	margin-left: 5px;
}
ul.nav li.menu-item-has-children:hover > ul.dropdown-menu ul.dropdown-menu{
	margin-top: 0;
}

.broker-detail-top-wrapper{
	background-image: none !important;
	height: auto !important;
	width: auto !important;
	border: 1px solid rgba(164,164,164,1);
	-webkit-box-shadow: -3px 3px 5px 0px rgba(164,164,164,1);
	-moz-box-shadow: -3px 3px 5px 0px rgba(164,164,164,1);
	box-shadow: -3px 3px 5px 0px rgba(164,164,164,1);
	margin-bottom: 40px !important;
	padding: 15px 20px;
}
.broker-detail-recent-news{
	min-height: 250px;
	height: auto !important;
}

td.child{
	text-align: left;
}
.broker-cmp-table th{
	text-align: center;
}
table.dataTable#broker-cmp-table{
	margin-bottom: 65px !important;
}
table.dataTable.broker-fremd-table > tbody > tr.child span.dtr-title{
	min-width: 190px;
}
table.dataTable.broker-fremd-table > tbody > tr.child ul.dtr-details{
	width: 100%;
}
.broker-fremd-table-mid th span{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
}
table.dataTable.broker-cmp-table > tbody > tr.child ul.dtr-details{
	margin-top: 15px;
	width: 100%;
}
table.dataTable.broker-cmp-table > tbody > tr.child span.dtr-title{
	min-width: 120px;
}
.broker-depot-table-mid th.header{
	padding-left: 15px !important;
	padding-right: 15px !important;
}
.broker-detail-table ul.dtr-details{
	width: 100%
}
.broker-detail-table ul.dtr-details li{
	list-style: none;
}
.archive_header{
	min-height: 40px;
	width: 100%;
	float: none;
}
.fl {
	display: inline-block;
}
.fr {
	display: inline-block;
}
/*==================================================
=                  Media Queries                   =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
    	.featured-static-wrapper{
    		display: block;
    	}
    	.slides_control{
			display: none;
		}
    	#slide-nav{
    		display: none;
    	}
    	#slides_container{
			width: 100%
		}
		.featured-static .ccaption p{
			display: none;
		}
		#main{
			max-width: 100%;
			width: 100%
		}
		.sub-featured .entry{
			display: none;
		}
		#main .block h2.title{
			text-align: center;
		}
		.post-more{
			display: none;
		}

		#sidebar {
			width: 100%;
			display: block;
			float: none;
		}
		#footer ul li{
			float: none;
		}
		#footer .dot{
			display: none;
		}
		#footer ul li a{ 
			display: block;
			padding-top: 5px;
			padding-bottom: 5px;
		}
		#logo{
			padding-top: 15px;
		}
		.broker-large{
			display: none;
		}
		.broker-med{
			display: block;
		}

		#connect .related-posts{
			border-left : none;
		}

		#logo img{
			max-width: 230px;
			padding-left: 15px;
		}
		.nav li{
    		float: none;
    	}
    	.nav{
			width: 100%;
		}
		.nav > li > a{
			padding: 10px 15px
		}
		.nav .sf-sub-indicator{
			bottom: 14px;
		}
		.nav > .menu-item-has-children.current-menu-ancestor{
			background-color: #D2E2F8;
			background-image: url( ../images/arrow-superfish.png );
			background-repeat: no-repeat;
			background-position: top 13px right 15px;
		}
		.nav > .menu-item-has-children > a,
		.nav > .menu-item-has-children .menu-item-has-children > a{
			display: inline-block;
		}
		.nav > .menu-item-has-children{ 
			background-image: url( ../images/arrow-superfish.png );
			background-repeat: no-repeat;
			background-position: top 13px right 15px;
		}
		.nav > .menu-item-has-children .menu-item-has-children{
			background-image: url( ../images/arrow-superfish.png );
			background-repeat: no-repeat;
			background-position: top 9px right 15px;
		}
		.nav li ul,
		.nav li ul li ul{
			position: static;
			width: 100%;
		}
		.nav li ul ul{
			margin: 2px 0 0
		}
		.nav li ul li:last-child{
			border-bottom: 0;
		}
		.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a{
			background-color: #eee !important
		}
		.nav li.current-menu-ancestor ul li.current-menu-item{
			background-color: #eee !important
		}
		.nav li.current-menu-ancestor.open ul li:hover a{
			background-color: #eee
		}
		.broker-detail-top-content-img{
			width: 100%;
		}
		.broker-detail-top-content{
			width: 100%;
		}
		.broker-detail-top-content-img img{
			width: 100%;
			max-width: 100%;
			display: block;
		}
		.broker-detail-top-wrapper{
			min-height: 225px !important
		}
		.broker-detail-news{
			width: 100%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-news-ad{
			width: 100%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}

		.broker-detail-gebuehren{
			width: 100%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-trading{
			width: 100%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.twocol-one{
			width: 100%;
			margin-bottom: 15px !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-video-div{
			width: 100%;
			margin-bottom: 15px !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-twitter-div{
			width: 100%;
			margin-bottom: 15px !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-video-div iframe{
			width: 100% !important
		}
		.broker-cmp-table.parent td{
			text-align: center;
		}
		.broker-cmp-table-row td:first-child img{
			width: 120px;
			max-width: 120px;
		}
		.broker-cmp-table td{
			text-align: left;
			padding-left: 15px;
			padding-right: 15px;
		}
		.broker-fremd-table-mid{
			display: block;
		}
		.broker-fremd-table-large{
			display: none;
		}
		.broker-fremd-table-mid tbody tr td:first-child img{
			width: 120px;
			max-width: 120px;
		}
		.broker-depot-table-mid{
			display: block;
		}
		.broker-depot-table-large{
			display: none;
		}
		.broker-depot-table-mid tbody tr td:first-child img{
			width: 120px;
			max-width: 120px;
		}
		.broker-detail-post .broker-cmp-entry > .broker-detail-table td.first,
		.broker-detail-post .broker-cmp-entry .broker-detail-table:last-child td.first{
			padding-left: 35px !important
		}
		.broker-detail-post .broker-cmp-entry .broker-detail-gebuehren .broker-detail-table:last-child td.first{
			padding-left: 1em !important
		}
		.broker-detail-post .broker-cmp-entry .broker-detail-trading .broker-detail-table:last-child td.first{
			padding-left: 1em !important
		}
		.fl {
			float: none;
		}
		.fr {
			float: none;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
    	.featured-static .ccaption p{
			display: block;
		}
		#main{
			max-width: 100%;
			width: 100%
		}
		.sub-featured .entry{
			display: block;
		}
		#main .block h2.title{
			text-align: left;
		}
		.post-more{
			display: none;
		}
		#sidebar {
			width: 100%;
			display: block;
			float: none;
		}
		#logo img{
			max-width: 374px;
			padding-left: 15px;
		}
		
    	.nav{
			width: 100%;
			border-left: 0;
		}
		.nav > li > a{
			padding: 10px 15px
		}
		.nav .sf-sub-indicator{
			bottom: 14px;
		}
		.navbar-toggle{
			margin-top: 18px;
			margin-bottom: 18px;
		}
		.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a{
			background-color: #eee !important
		}
		.broker-detail-top-content-img{
			width: 100%;
		}
		.broker-detail-top-content{
			width: 100%;
		}
		.broker-detail-top-content-img img{
			width: 300px;
			max-width: 300px;
			display: block;
		}
		.broker-detail-video-div iframe{
			width: 460px !important
		}
		.broker-cmp-table-row td:first-child img{
			width: 193px;
			max-width: 193px;
		}
		.broker-depot-table-mid tbody tr td:first-child img{
			width: 193px;
			max-width: 193px;
		}
		.broker-detail-post .broker-cmp-entry > .broker-detail-table td.first,
		.broker-detail-post .broker-cmp-entry .broker-detail-table:last-child td.first{
			padding-left: 35px !important
		}
		.broker-detail-post .broker-cmp-entry .broker-detail-gebuehren .broker-detail-table:last-child td.first{
			padding-left: 1em !important
		}
		.broker-detail-post .broker-cmp-entry .broker-detail-trading .broker-detail-table:last-child td.first{
			padding-left: 1em !important
		}
		.fl {
			float: left;
		}
		.fr {
			float: right;
		}
		
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
    	.featured-static .ccaption p{
			display: block;
		}
		#main{
			max-width: 100%;
			width: 100%
		}
		.sub-featured .entry{
			display: block;
		}
		.post-more{
			display: none;
		}
		#sidebar {
			width: 100%;
			display: block;
			float: none;
		}
		#footer ul li{
			float: left;
		}
		#footer .dot{
			display: block;
		}
		#footer ul li a{ 
			display: block;
			padding-top: 0;
			padding-bottom: 0;
		}
		.broker-large{
			display: none;
		}
		.broker-med{
			display: block;
		}

		#logo img{
			max-width: 100%;
		}
		.nav{
			width: 100%;
			border-left: none;
		}
		.nav > li > a{
			padding: 10px 15px;
			padding: 10px 65px
		}
		.nav .sf-sub-indicator{
			bottom: 14px;
		}
		.nav > .menu-item-has-children > a{
			background-image: none;
		}
		.nav li{
    		float: left;
    	}
    	ul.nav li.menu-item-has-children:hover > ul.dropdown-menu {
		    display: block;
		    width: auto;
		    left: auto;
		    right: auto;
		    border-radius: 0;
		    padding-top: 0;
		    padding-bottom: 0;
		    min-width: 215px
		}

		ul.nav li.menu-item-has-children:hover > ul.dropdown-menu ul.dropdown-menu{
			top: 0;
			left: -215px;
		}

		.nav li ul,
		.nav li ul li ul{
			position: absolute;
			width: 100%;
		}
		.nav li ul li{
			float: none;
		}
		.nav li ul li a{
			width: auto;
			font-size: 12px;
			font-weight: 600
		}
		.nav > li.menu-item-has-children:focus, .nav > li.menu-item-has-children:hover{
			background-image: url( ../images/arrow-superfish.png );
			background-repeat: no-repeat;
			background-position: top 13px right 15px;
			background-color: #eee
		}
		.nav > li > a:focus, .nav > li > a:hover{
			background: none;
		}
		.nav li ul li a:hover, .nav li ul li.current_page_item a, .nav li ul li.current-menu-item a{
			background-color: #F6F6F6 !important
		}
		.broker-detail-top-content-img{
			width: 50%
		}
		.broker-detail-top-content{
			width: 50%
		}
		.broker-detail-top-wrapper{
			min-height: 145px !important
		}
		.twocol-one{
			width: 50% !important;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 15px;
		}
		.twocol-one.last{
			padding-left: 15px;
			padding-right: 0;
		}

		.broker-cmp-table td{
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-post .broker-cmp-entry > .broker-detail-table td.first,
		.broker-detail-post .broker-cmp-entry .broker-detail-table:last-child td.first{
			padding-left: 1em !important
		}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
    	.featured-static-wrapper{
    		display: none;
    	}
    	.slides_control{
			display: block;
		}
    	#slide-nav{
    		display: block;
    	}
    	#slides_container{
			width: 652px
		}
		#main{
			max-width: 652px;
			padding-right: 20px;
			width: 100%
		}
		.container {
		    width: 960px;
		    padding-left: 0;
		    padding-right: 0
		}
		.post-more{
			display: block;
		}
		#sidebar {
			width: 307px;
			display: block;
			float: none;
		}
		#logo{
			padding-top: 40px;
		}
		.broker-large{
			display: block;
		}
		.broker-med{
			display: none;
		}
		#connect .related-posts{
			border-left : 2px solid #e6e6e6;
		}
		.nav{
			width: auto;
			border-left: 1px solid #D6D7D7
		}
		.nav > li > a{
			padding: 70px 20px 15px 20px
		}
		.nav > li.menu-item-has-children > a{
			padding-right: 40px;
		}
		.nav .sf-sub-indicator{
			bottom: 18px;
		}
		.nav > .menu-item-has-children{
			background-image: none;
		}
		.nav > .menu-item-has-children > a{ 
			background-image: url( ../images/arrow-superfish.png );
			background-repeat: no-repeat;
			background-position: bottom 18px right 15px;
		}
		.nav > li{
			border-top: 0;
			border-right: 1px solid #D6D7D7
		}
		.nav > li.menu-item-has-children:focus, .nav > li.menu-item-has-children:hover{
			background-position: bottom 18px right 15px
		}
		.broker-detail-top-content-img{
			width: 41.66666667%
		}
		.broker-detail-top-content{
			width: 58.33333333%
		}
		.broker-detail-news{
			width: 66.66666667%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}
		.broker-detail-news-ad{
			width: 33.33333333%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 0;
		}

		.broker-detail-gebuehren{
			width: 41.66666667%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 15px;
		}
		.broker-detail-trading{
			width: 58.33333333%;
			margin-bottom: 0 !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 0;
		}
		.broker-detail-video-div{
			width: 50%;
			margin-bottom: 15px !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 0;
			padding-right: 15px;
		}
		.broker-detail-twitter-div{
			width: 50%;
			margin-bottom: 15px !important;
			margin-right: 0 !important;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 0;
		}
		.broker-detail-video-div iframe{
			width: 100% !important
		}
		.broker-fremd-table-mid{
			display: none;
		}
		.broker-fremd-table-large{
			display: block;
		}
		.broker-depot-table-mid{
			display: none;
		}
		.broker-depot-table-large{
			display: block;
		}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
    	.container {
		    width: 960px;
		    padding-left: 0;
		    padding-right: 0;
		}
		.post-more{
			display: block;
		}
    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }
